.channel {
    width: 100%;
    padding:45px 2%;
    background-color: #060707;
}

.channel h1 {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.channel-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.channel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}


.channel img:hover {
    transform: scale(1.1);
    transition: .3s;
}