.tags {
    width: 100%;
    height: 75px;
    background-color: #060707;
    display: flex;
    align-items: center;
    padding: 5px 50px;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: sticky;
    top: 70px;
    z-index: 25;
    border-bottom: 1px solid #2c2c2c;
}

.tag {
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #363636;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag:hover {
    background-color: #888585;
}

.tags-display {
    width: 100%;
    height: 100vh;
    background-color: #060707;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 70px 1px;
    margin-top: 20px;
}

.tags-display button {
    margin-top: 10px;
    padding: 10px;
    background-color: #d9008d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tags-display button:hover {
    background-color: #b8006b;
}

.tags-display-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;    
}

.tags-display-header h2 {
    font-size: 35px;
    font-weight: bold;
    color: #d9008d;
}

.tags-display-header button {
    background-color: #d9008d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

