.featured{
    width: 100%;
    background-color: #060707;
    padding: 10px 2%;

}

.featured-title{
    font-size: 30px;
    font-weight: 600;
}

.showsFeatured{
    width: 100%;
    display: flex;
    gap: 10px;
}

