.featured{
    width: 100%;
    background-color: #060707;
    padding: 10px 2%;
}

.featured-title{
    font-size: 30px;
    font-weight: 600;
}

.shows{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    gap: 10px;
}

