.featured {
    width: 100%;
    background-color: #060707;
    padding: 10px 2%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.featured::-webkit-scrollbar {
    display: none;
}

.featured-title {
    font-size: 30px;

    font-weight: 600;
    margin-bottom: 20px;
}

.showsFeatured {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    width: max-content;
}