.header {
    width: 100%;
    height: 70px;
    background-color: #060707;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    border: 1px solid #2c2c2c;
    position: fixed;
    z-index: 30;
    color: white;
}


/* Navigation Section Css */

.navigation {
    width: fit-content;
    height: 70px;
    display: flex;
    gap: 30px;
}

.logo {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.logo h1 {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.premium {
    width: fit-content;
    border: 2px solid #6f6218;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #d4be42;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.fa-crown {
    font-size: 14px;
}

.search {
    width: 30%;
    height: 70px;
}

.navLinks {
    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
}

.navLink {
    padding: 21px 0px;
    font-size: 17px;
    cursor: pointer;
}


.navLink:first-child {
    border-bottom: 4px solid #d9008d;
}

/* Search Box Section Css */

.search {
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.searchBox {
    width: fit-content;
    height: 40px;
    border-radius: 18px;
    background-color: rgb(50, 45, 45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    margin-left: 15px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon i {
    font-size: 18px;
}

.micIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    margin-right: 15px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.micIcon i {
    font-size: 18px;
}

.searchInput {
    width: 230px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 18px;
    padding-left: 6px;
    font-size: 14px;
    margin-left: 10px;
    background-color: rgb(50, 45, 45);
    margin-right: 10px;
    color: white;
}


.searchInput::placeholder {
    color: rgb(145, 136, 136);
    font-size: 17px;
}


.profile {
    width: 50px;

    height: 50px;
    background-color: rgb(240, 77, 213);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 25px;
}

.profile i {
    font-size: 20px;
}

.filteredMovies {
    width: 100%;
    height: 100vh;
    background-color: #060707;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.filteredMovies::-webkit-scrollbar {
    display: none;
}