.carousel {
    width: 100%;
    height: 550px;
    background-color: #060707;
    position: relative;
    padding: 80px 40px;
    z-index: 10;
}

.carousel-item {
    position: relative;
    height: 530px;
    transition: transform 1.5s ease-in-out, opacity 1.2s ease-in-out;
}

.carousel-item img {
    height: 720px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.carousel-caption {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 8px;
}

.carousel-caption h5 {
    color: white;
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 10px;
}

.carousel-caption p {
    color: white;
    font-size: 17px;
    font-weight: 500;
}


.mantine-Carousel-indicators {
    bottom: 1rem;
}

.mantine-Carousel-control {
    background: rgba(255, 255, 255, 0.3) !important;
}

/* Optional: Add slide animation */
@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.carousel-item.active {
    transition: transform 1.5s ease-in-out, opacity 1.2s ease-in-out;
}

.carousel-item:not(.active) {
    animation: slide 1.5s ease-in-out;
}